.alert {
	display: inline-block;
	width: 100%;
	padding: #{$spacing-increment * 3}px;
	padding-right: #{$spacing-increment * 6}px;
	margin: #{$spacing-increment * 2}px 0;
	background-color: var(--c-main-alt);
	border: 1px solid var(--c-default-alt);
	border-left-width: #{$spacing-increment}px;
	border-radius: $border-radius;
	position: relative;
	clear: both;
	cursor: default;

	&.info {
		border-color: var(--c-info);
		color: var(--c-info-alt);
	}
	&.success {
		border-color: var(--c-success);
		color: var(--c-success-alt);
	}
	&.warning {
		border-color: var(--c-warning);
		color: var(--c-warning-alt);
	}
	&.danger {
		border-color: var(--c-danger);
		color: var(--c-danger-alt);
	}

	&.shaded:hover {
		box-shadow: $shadow-hover;
	}

	.dismiss-btn {
		position: absolute;
		top: #{$spacing-increment * 3}px;
		right: #{$spacing-increment * 3}px;
		display: inline-block;
		width: $font-base;
		height: $font-base;
		line-height: $font-base;
		font-size: $font-base * 1.8;
		border: 0px;
		background: none;
		cursor: pointer;
		color: var(--c-default);
		transition: color .3s ease-in-out;
		user-select: none;
		&:hover {
			color: var(--c-contrast);
		}
	}
}