.banner {
	display: block;
	height: 50%;
	min-height: 320px;
	width: auto;
	position: relative;

	&.tall {
		min-height: 100vh !important;
	}
	&.parallax {
		transform: translateZ(-9px) scale(2);
	}
	&.shaded {
		box-shadow: inset $shadow;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.container {
		width: auto;
		height: auto;
		margin: auto auto;
		display: block;
		text-align: center;

		&.main {
			color: var(--c-main);
		}
		&.contrast {
			color: var(--c-contrast);
		}

		.heading {
			font-size: $font-base * 4;
		}
		.subheading {
			font-size: $font-base * 2;
		}
	}

	@media (min-width: $grid-md-min-width) {
		min-height: calc($grid-md-min-width * 2/3);
	}
	@media (min-width: $grid-lg-min-width) {
		min-height: calc($grid-lg-min-width / 2);
	}
	@media (min-width: $grid-xl-min-width) {
		min-height: calc($grid-xl-min-width / 2);
	}
}