// Universal form input styles
input.form-input, 
select.form-input, 
textarea.form-input {
    font-size: $font-base;
    padding: $spacing-increment * 2px;
    width: 100%;
    border: 1px solid $c-default;
    border-radius: $border-radius;
    position: relative;
    display: block;
    transition: border-color .2s;
    &:focus {
        border-color: $c-accent;
        & + .form-fancy-input-bar {
            background-color: $c-accent;
        }
    }
    &:not(:valid) {
        border-color: $c-danger;
        & + .form-fancy-input-bar {
            background-color: $c-danger;
        }
    }
}
// Input specific styles
select.form-input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    &:not([multiple]) {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='14' viewBox='0 0 448 512' height='14'><path fill='black' d='M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z'></path></svg>");
        background-repeat: no-repeat;
        background-position: right .7em center;
    }
    &[multiple] {
        padding-left: 0px;
        padding-right: 0px;
        height: $font-base * 8 - $spacing-increment * 6;
        border-right-width: 2px;
        border-right-width: 1px;
    }
    option {
        padding: 1px * $spacing-increment 3px * $spacing-increment;
        &[disabled] {
            color: $c-default;
        }
    }
    optgroup {
        padding-left: 1em;
    }
}
input.form-input {
    &[type="radio"], &[type="checkbox"] {
        display: inline-block;
        width: 1em;
        height: 1em;
        margin: 2px * $spacing-increment;
        &.form-fancy:before {
            background-color: $c-main;
        }
        &:before, &:after {
            content: ' ';
            position: absolute;
        }
        &:before {
            width: $font-base;
            height: $font-base;
            top: 0px;
            left: 0px;
            border: 1px solid $c-default;
            border-radius: $border-radius;
            background-color: white;
        }
        &:after {
            border: 1px solid transparent;
            top: 0.2em;
            left: 0.2em;
            width: 0.6em;
            height: 0.6em;
        }
        &:checked:after {
            background-color: $c-default;
        }
        &:hover:before {
            background-color: darken($c-main, 10%);
        }
    }
    &[type="radio"] {
        &:before, &:after {
            border-radius: 50%;
        }
    }
    &[type="number"] {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
    }
}
// Style overrides for special look
.form-input-wrapper {
    width: 100%;
    padding: 0px;
    margin: 0px;
    input.form-input,
    textarea.form-input {
        border: none;
        background: none;
    }
    select.form-input {
        border: none;
        background-color: transparent;
    }
    .form-fancy-input-bar {
        position: absolute;
        bottom: 0px;
        left: 0px;
        display: inline-block;
        width: 100%;
        background-color: $c-default;
        height: 2px;
        transition: background-color .2s;
    }
}
// Buttons
@mixin buttonColor($mixin-color) {
    background-color: $mixin-color;
    border-color: darken($mixin-color, 20%);
    color: $c-main;
    &:hover {
        background: darken($mixin-color, 5%);
    }
}
.button {
    display: inline-block;
    background: darken($c-main, 10%);
    color: $c-contrast;
    font-size: $font-base;
    padding: $spacing-increment * 2px $spacing-increment * 3px;
    border: 1px solid $c-default;
    border-radius: $border-radius;
    position: relative;
    cursor: pointer;
    margin: $spacing-increment * 1px .2em;
    &:hover {
        background: darken($c-main, 15%);
    }
    &.info {
        @include buttonColor($c-accent);
    }
    &.success {
        @include buttonColor($c-success);
    }
    &.warning {
        @include buttonColor($c-warning);
    }
    &.danger {
        @include buttonColor($c-danger);
    }
    &.shaded:hover {
		box-shadow: $shadow-hover;
	}
}
// Combined input+button
.form-input-combo {
    display: grid;
    grid-template-columns: min-content auto min-content;
    grid-template-areas: "button-left input button-right";
    .form-input,
    .form-input-wrapper {
        grid-area: input;
        margin: 0;
    }
    .form-input {
        &:not(:first-child) {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            border-left-width: 0px;
        }
        &:not(:last-child) {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            border-right-width: 0px;
        }
    }
    .button {
        margin: 0;
        &.left {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            grid-area: button-left;
        }
        &.right {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            grid-area: button-right;
        }
    }
}