input, select, textarea {
    &.form-input {
        font-size: $font-base;
        padding: $spacing-increment * 2px;
        width: 100%;
        border: 1px solid $c-default;
        border-radius: $border-radius;
        position: relative;
        display: block;
        transition: border-color .2s;
        &:focus {
            border-color: $c-accent;
        }
        &:not(:valid) {
            border-color: $c-danger;
        }
        option {
            padding: 1px * $spacing-increment 3px * $spacing-increment;
            &[disabled] {
                color: $c-default;
            }
        }
    }
}
select.form-input[multiple] {
    padding-left: 0px;
    padding-right: 0px;
    height: $font-base * 8 - $spacing-increment * 6;
}

.form-input-wrapper {
    width: 100%;
    padding: 0px;
    margin: 0px;
    input, select, textarea {
        &.form-input {
            border: none;
            background: none;
            &:focus + .form-fancy-input-bar {
                background-color: $c-accent;
            }
            &:not(:valid) + .form-fancy-input-bar {
                background-color: $c-danger;
            }
        }
    }
    .form-fancy-input-bar {
        position: absolute;
        bottom: 0px;
        left: 0px;
        display: inline-block;
        width: 100%;
        background-color: $c-default;
        height: 2px;
        transition: background-color .2s;
    }
}