@mixin tableHoverColor($dataColor, $dataBgColor) {
    thead, tfoot, tr {
        &:hover {
            td, th {
                color: var(#{'--c-' + $dataColor});
                background-color: var(#{'--c-' + $dataBgColor});
            }
        }
    }
}

.table,
.table td,
.table tr {
    margin: 0px;
    padding: 0px;
    border: none;
    color: var(--c-contrast);
}
.table {
    border-spacing: 0px;
    border-collapse: collapse;
    border-radius: $border-radius;
    td, th {
        cursor: pointer;
        text-align: left;
        padding: $spacing-increment * 1px $spacing-increment * 2px;
    }
    tbody {
        td {
            border-bottom: 1px solid var(--c-border-base);
        }
        tr:last-child td {
            border-bottom: none;
        }
    }
    thead, tfoot {
        &> * {
            font-weight: bold;
        }
    }
    thead {
        td, th {
            border-bottom: 1px solid var(--c-contrast);
            &:first-child {
                border-top-left-radius: $border-radius;
            }
            &:last-child {
                border-top-right-radius: $border-radius;
            }
        }
    }
    tfoot {
        td, th {
            border-top: 1px solid var(--c-contrast);
            &:first-child {
                border-bottom-left-radius: $border-radius;
            }
            &:last-child {
                border-bottom-right-radius: $border-radius;
            }
        }
    }
    &.striped {
        tr:nth-child(even) td {
            background-color: var(--c-p-background);
        }
        tr:nth-child(odd) td {
            background-color: var(--c-main);
        }
    }
    &.flexible {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
    @for $i from 1 through 10 {
        &.pad-#{$i} {
            padding: 0;
            tr, td {
                padding: #{$spacing-increment * $i}px;
            }
        }
    }
    &.hover {
        @include tableHoverColor("contrast", "main-hov");
        &.info { @include tableHoverColor("main", "info"); }
        &.success { @include tableHoverColor("main", "success"); }
        &.warning { @include tableHoverColor("main", "warning"); }
        &.danger { @include tableHoverColor("main", "danger"); }
    }
}
