@for $i from 1 through 5 {
	h#{$i} {
		display: block;
		font-size: $font-base * 4 / $i;
		margin-top: #{$padding-increment * 2}px;
		margin-bottom: #{$padding-increment}px;
	}
}
p {
	font-size: $font-base;
}
small, sub, sup {
	font-size: $font-base / 1.5;
}
