@for $i from 1 through 5 {
	h#{$i} {
		display: block;
		line-height: 1.5em;
		font-size: $font-base * 4 / $i;
		margin-top: #{$spacing-increment * 2}px;
		margin-bottom: #{$spacing-increment}px;
		padding: $spacing-increment * 1px;

		&.heading {
			margin-top: #{$spacing-increment * 4}px;
			padding-bottom: #{$spacing-increment}px;
			border-bottom: 1px solid $c-default;
		}
		&.shaded {
			text-shadow: 0px // h-offset
				#{$spacing-increment}px // v-offset
				#{$spacing-increment*2}px // blur
				$c-shadow;
		}
		&.inverted {
			color: $c-main;
		}
	}
}
p {
	line-height: 1.4em;
	font-size: $font-base;
	padding: $spacing-increment * 1px;
}
small, sub, sup {
	font-size: $font-base / 1.5;
}
