@for $i from 1 through 10 {
	$padding: $spacing-increment * $i;
	.pad-#{$padding} {
		padding: #{$padding}px;
	}
	.pad-v-#{$padding} {
		padding-top: #{$padding}px;
		padding-bottom: #{$padding}px;
	}
	.pad-h-#{$padding} {
		padding-left: #{$padding}px;
		padding-right: #{$padding}px;
	}
	.pad-l-#{$padding} {
		padding-left: #{$padding}px;
	}
	.pad-r-#{$padding} {
		padding-right: #{$padding}px;
	}
}

pre {
	background-color: $c-main;
	border: 1px solid darken($c-main, 20%);
	color: $c-contrast;
	padding: #{$spacing-increment * 2}px;
	margin: #{$spacing-increment * 2}px 0;
	tab-size: 4;
	font-family: monospace;
	font-size: $font-base * .8;
	border-radius: $border-radius;
}