@for $i from 1 through 10 {
	$padding: $spacing-increment * $i;
	.pad-#{$padding} {
		padding: #{$padding}px;
	}
	.pad-v-#{$padding} {
		padding-top: #{$padding}px;
		padding-bottom: #{$padding}px;
	}
	.pad-h-#{$padding} {
		padding-left: #{$padding}px;
		padding-right: #{$padding}px;
	}
	.pad-l-#{$padding} {
		padding-left: #{$padding}px;
	}
	.pad-r-#{$padding} {
		padding-right: #{$padding}px;
	}
}

pre, code {
	background-color: var(--c-main);
	border: 1px solid var(--c-main-hov);
	color: var(--c-contrast);
	padding: #{$spacing-increment * 2}px;
	margin: #{$spacing-increment * 2}px 0;
	tab-size: 4;
	font-family: monospace;
	font-size: $font-base * .8;
	border-radius: $border-radius;
	overflow-x: auto;
}
code {
	padding: 0 0;
	margin: 0 0;
	display: inline;
}

.clearfix {
	display: block;
	width: auto;
	clear: both;
}

.bg-page {
	background-color: var(--c-p-background);
}
.bg-main {
	background-color: var(--c-main);
}
.bg-default {
	background-color: var(--c-default);
}
.bg-contrast {
	background-color: var(--c-contrast);
}
.bg-accent {
	background-color: var(--c-info);
}
.bg-success {
	background-color: var(--c-success);
}
.bg-warning {
	background-color: var(--c-warning);
}
.bg-danger {
	background-color: var(--c-danger);
}

.c-page {
	color: var(--c-p-background);
}
.c-main {
	color: var(--c-main);
}
.c-default {
	color: var(--c-default);
}
.c-contrast {
	color: var(--c-contrast);
}
.c-info {
	color: var(--c-info);
}
.c-success {
	color: var(--c-success);
}
.c-warning {
	color: var(--c-warning);
}
.c-danger {
	color: var(--c-danger);
}

div.shaded,
.button.shaded {
	box-shadow: $shadow;
	transition: box-shadow .3s ease-in-out;

	&.double-shaded {
		box-shadow: $shadow-double;
	}
}

.float-left {
	float: left;
}
.float-right {
	float: right;
}

.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}