// Import variables
@import "variables.scss";
// Import animations
@import "animations.scss";

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	color: $c-contrast;
	font-size: $font-base;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	z-index: 1;

	&:focus, &:active {
		outline: none !important;
	}
}

html, body, .page {
	min-height: 100%;
	min-height: 100vh;
	background-color: $c-p-background;
}

.page {
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	perspective: 10px;
	transform-style: preserve-3d;
}

div {
	position: relative;
}

::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: $c-main;
}
::-webkit-scrollbar-thumb {
	background: $c-default;
}
::-webkit-scrollbar-thumb:hover {
	background: $c-contrast;
}

// Import modules
@import "modules/utils.scss";
@import "modules/grid.scss";
@import "modules/typography.scss";
@import "modules/panel.scss";
@import "modules/card.scss";
@import "modules/alert.scss";
@import "modules/banner.scss";