// Import variables
@import "variables.scss";
// Import animations
@import "animations.scss";

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	color: var(--c-contrast);
	font-size: $font-base;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	z-index: 1;

	&:focus, &:active {
		outline: none !important;
	}
}

html, body, .page {
	min-height: 100%;
	min-height: 100vh;
	background-color: var(--c-p-background);
}

.page {
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	perspective: 10px;
	transform-style: preserve-3d;
	& > .parallax {
		display: flex;
		flex: 1 0 auto;
		position: relative;
		height: 100vh;
		transform: translateZ(-10px) scale(2);
		z-index: -1;
		* {
			z-index: 0;
		}
	}
}
.content-container {
	width: 100%;
	display: block;
	max-width: 100%;
	margin: 0 auto;
	@media (min-width: $grid-md-min-width) {
		max-width: $grid-md-min-width;
	}
	@media (min-width: $grid-lg-min-width) {
		max-width: $grid-lg-min-width;
	}
	@media (min-width: $grid-xl-min-width) {
		max-width: $grid-lg-min-width;
	}
}

div {
	position: relative;
}

::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: var(--c-main);
}
::-webkit-scrollbar-thumb {
	background: var(--c-default);
}
::-webkit-scrollbar-thumb:hover {
	background: var(--c-contrast);
}

// Import modules
@import "modules/grid.scss";
@import "modules/misc.scss";
@import "modules/typography.scss";
@import "modules/panel.scss";
@import "modules/card.scss";
@import "modules/alert.scss";
@import "modules/banner.scss";
@import "modules/forms.scss";
@import "modules/table.scss";
@import "modules/navigation.scss";

// Utils contain override props so they must be kept last
@import "modules/utils.scss";