// Grid
$grid-columns: 12;
$grid-md-min-width: 660px;
$grid-lg-min-width: 1100px;
$grid-xl-min-width: 1440px;

// General
$border-radius: 3px;

// Utils
$spacing-increment: 5;

// Typography
$font-base: 16px;

// Forms

// Blocks

// Colors
$c-p-background: #fff;
$c-main: #fafafa;
$c-default: #aaa;
$c-contrast: #333;
$c-accent: #31acff;
$c-success: #37be0e;
$c-warning: #e7ae10;
$c-danger: #c40808;
$c-shadow: rgba(0,0,0,0.3);
$c-shadow-intense: rgba(0,0,0,0.4);
$c-shadow-less: rgba(0,0,0,0.2);

// Style presets
@function gen-shadow($size, $color) {
	@return 0px #{$size}px #{$size*2}px #{$size*0.5}px $color;
}

$shadow: gen-shadow($spacing-increment, $c-shadow);
$shadow-hover: gen-shadow($spacing-increment, $c-shadow-intense);
$shadow-inverted: gen-shadow($spacing-increment, $c-shadow-less);

$shadow-double: gen-shadow($spacing-increment * 2, $c-shadow);
$shadow-double-hover: gen-shadow($spacing-increment * 2, $c-shadow-intense);
$shadow-double-inverted: gen-shadow($spacing-increment * 2, $c-shadow-less);
